@import url("https://zer0-industries.com/static/bdthemes/src/clearvision_free.css?v=1.4");

/*v1.2*/

/*
    Changes 1.1:
        Updated clear vision to 1.5

    Changes 1.1:
        Brighter color for dnd, idle
        Updated clear vision to 1.4
        Hover color now main color

 */

:root {
    --theme-version: "CV v1.3";
    --hover-color: var(--main-color);
    --success-color: #1e63b3;
    --danger-color: #982929;
    --online-color: #43B581FF;
    --idle-color: #ffc400;
    --dnd-color: #fd0000;
    --streamig-color: #593695;
    --offline-color: #807979;
    --main-font: 'Whitney';
    --code-font: 'Consolas';
    --text-normal: #fafafa;
    --text-muted: #898c9a;
    --channels-width: 220px;
    --members-width: 240px;
    --background-shading: 0%;
    --background-overlay: rgba(91, 90, 90, 0.6);
    --background-image: var(--wallpaper);
    --background-size: cover;
    --background-position: center;
    --background-repeat: no-repeat;
    --background-attachment: fixed;
    --background-brightness: 100%;
    --background-constrast: 100%;
    --background-saturation: 100%;
    --background-invert: 0%;
    --background-grayscale: 0%;
    --background-sepia: 0%;
    --background-blur: 0px;
    --home-icon: url('https://zer0-industries.com/static/icon.ico');
    --home-position: center;
    --home-size: 55px;
    --background-overlay: #00000099;
    --backdrop-size: cover;
    --backdrop-repeat: repeat;
    --backdrop-attachment: fixed;
    --backdrop-brightness: 100%;
    --backdrop-constrast: 100%;
    --backdrop-saturation: 100%;
    --backdrop-invert: 0%;
    --backdrop-grayscale: 0%;
    --backdrop-sepia: 0%;
    --backdrop-blur: 0px;
    --user-popout-image: var(--profile-view-popout--wallpaper);
    --user-popout-size: cover;
    --user-popout-repeat: no-repeat;
    --user-popout-attachment: fixed;
    --user-popout-brightness: 100%;
    --user-popout-constrast: 100%;
    --user-popout-saturation: 100%;
    --user-popout-invert: 0%;
    --user-popout-grayscale: 0%;
    --user-popout-sepia: 0%;
    --user-popout-blur: 0px;
    --user-popout-overlay: #000000a6;
    --user-modal-image: var(--profile-view-big--wallpaper);
    --user-modal-size: cover;
    --user-modal-repeat: repeat;
    --user-modal-attachment: fixed;
    --user-modal-brightness: 100%;
    --user-modal-constrast: 100%;
    --user-modal-saturation: 100%;
    --user-modal-invert: 0%;
    --user-modal-grayscale: 0%;
    --user-modal-sepia: 0%;
    --user-modal-blur: 0px;
    --bd-blue: #2780e6;
    --bd-blue-hover: #1e63b3;
    --bd-blue-active: #1e63b3;
}